{% extends "recipes/base.html" %}
{% block content %}
{%load static%}
<div class="text-center bg-secondary-subtle">
    <div class="h1"> Recipes </div>
</div>
<div class="container-lg my5">
    {% comment %} <img src="{% static 'recipes/fuji-bg.jpg' %}" alt="My image" class="bg-image bg-cover"> {% endcomment %}
    
    
    {% if recipes %}
        <div class="row mb-3 bg-light text-light">
            {% for recipe, vals in rdetails.items %}


                <div class="col justify-content-center d-flex">
                    {% comment %} <div class="p-5 bg-secondary text-light rounded">
                            <div class="h3 text-light text-center"> {{recipe.name}} </div>
                            <ul class="list-group">
                                {% for ing in recipe.ingredients.all %}
                                    <div class="list-group-item">
                                        <div class="text-left">{{ing}} </div>
                                    </div>
                                {% endfor %}
                            </ul>
                    </div> {% endcomment %}
                    <div class="card bg-secondary text-light" style="width: 24rem;">
                        <img src="{% static 'recipes/beef-stir-fry.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{recipe.name}}</h5>
                          <ul class="list-group">
                            {% for ing in vals %}
                                <div class="list-group-item">
                                    <div class="text-left">{{ing.iname}} ({{ing.recipeQuantityGrams|floatformat}}g)  </div>
                                </div>
                            {% endfor %}
                        </ul>
                          <a href="{% url 'recipes:recipe_detail' recipe.id %}" class="btn btn-light mt-3">Recipe details</a>
                        </div>
                      </div>
                    
                </div>

            {% endfor %}
        </div>

    {% else %}
    <h3> No recipes to display </h3>

    {% endif %}
</div>
{%endblock content %}