<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>Recipe site!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href= "{% static 'recipes/style.css' %}" rel="stylesheet">
    {% load django_bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body class="bg-dark">

    

    <nav class="navbar navbar-expand navbar-dark border-bottom border-top border-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                {% if user.is_authenticated %}
                  <a class="nav-link active" aria-current="page" href="{% url 'tracker:tracker_index' %}">Meal Tracker</a>
                {% else %}
                  <a class="nav-link disabled" aria-current="page" href="#" aria-disabled="true">Meal Tracker</a>
                {% endif %}
              </li>
              
              {%if not user.is_authenticated%}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'recipes:recipe_list' %}">Recipes</a>
              </li>
              {% else %}
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Recipe Options
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'recipes:recipe_list' %}">All recipes</a></li>
                  <li><a class="dropdown-item" href="#">My recipes</a></li>
                  {% comment %} <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> {% endcomment %}
                </ul>
              </li>
              {% endif %}

              <li class="nav-item">
                {% if  user.is_authenticated%}
                <a class="nav-link active" aria-current="page" href="#">Pantry/Fridge</a>
                {% else %}
                <a class="nav-link disabled" aria-current="page" href="#" aria-disabled="true">Pantry/Fridge</a>
                {% endif %}
              </li>

              {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> {% endcomment %}
              {% comment %} <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul> {% endcomment %}
            {% comment %} <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> {% endcomment %}


          </div>

          <ul class="nav justify-content-end text-light">

            {% if not user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link active text-light" aria-current="page" href="{% url 'register' %}">Register</a>
            </li>
            {% else %}
            <li class="nav-item mx-3">
              <a class="nav-link active text-light" aria-current="page" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>

 
      
    
    
    {% block content%}
    {%endblock content%}



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    

</body>

</html>